.lista-layout {
    padding: 30px 0;

    &__singolo-risultato {
        border: 2px solid #fff;
        margin: 20px 0;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__item-info {
        text-transform: capitalize;
    }

    &__item-label {
        text-transform: lowercase;
    }

    &__titolo-risultato {
        font-size: 30px;
    }
}